.game-list {
    box-sizing: border-box;
    background: #101014;
    height: 201rem;
    position: relative;
    overflow: hidden;
  }
  
  .background {
    position: absolute;
    inset: 0;
  }
  
  .header {
    background: #141418;
    width: 120rem;
    height: 6.25rem;
    position: absolute;
    left: 0rem;
    top: 0rem;
  }
  
  .logo {
    height: auto;
    position: absolute;
    left: 14.875rem;
    top: 1.9375rem;
    overflow: visible;
  }
  
  .search {
    width: 18.4375rem;
    height: 3.125rem;
    position: absolute;
    left: 14.875rem;
    top: 8.625rem;
  }
  
  .search-input {
    background: #202024;
    border-radius: 1.78125rem;
    width: 18.4375rem;
    height: 3.125rem;
    position: absolute;
    left: 0rem;
    top: 0rem;
  }
  
  .search-button {
    width: 8.75rem;
    height: 1.5rem;
    position: static;
  }
  
  .search-text {
    color: #c6c6c6;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    position: absolute;
    left: 3.3125rem;
    top: 1rem;
  }
  
  .search-icon {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    left: 1.125rem;
    top: 0.8125rem;
    overflow: visible;
  }
  
  .nav {
    width: 20.5rem;
    height: 2rem;
    position: absolute;
    left: 32.5625rem;
    top: 2.125rem;
  }
  
  .nav-item {
    color: #c6c6c6;
    text-align: left;
    font-family: "Montserrat-ExtraBold", sans-serif;
    font-size: 1.25rem;
    font-weight: 800;
    position: absolute;
    left: 0rem;
    top: 0rem;
  }
  
  .nav-item:not(:first-child) {
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
  }
  
  .nav-item:nth-child(2) {
    left: 6.25rem;
  }
  
  .nav-item:nth-child(3) {
    left: 12.75rem;
  }
  
  .secondary-nav {
    width: 20.5rem;
    height: 1.25rem;
    position: absolute;
    left: 36.3125rem;
    top: 10.0625rem;
  }
  
  .secondary-nav-item {
    color: #c6c6c6;
    text-align: left;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    position: absolute;
    left: 0rem;
    top: -0.4375rem;
  }
  
  .secondary-nav-item:nth-child(2) {
    left: 6.5rem;
  }
  
  .download-button {
    background: #6ac6ff;
    border-radius: 0.625rem;
    padding: 0.625rem 1.5625rem 0.625rem 1.5625rem;
    display: flex;
    flex-direction: row;
    gap: 0.9375rem;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 95.8125rem;
    top: 1.9375rem;
  }
  
  .download-text {
    color: #202024;
    text-align: left;
    font-family: "Montserrat-Medium", sans-serif;
    font-size: 0.9375rem;
    font-weight: 500;
    position: relative;
  }
  
  .sign-in-button {
    background: #353539;
    border-radius: 0.625rem;
    padding: 0.625rem 1.5625rem 0.625rem 1.5625rem;
    display: flex;
    flex-direction: row;
    gap: 0.9375rem;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 88.0625rem;
    top: 1.9375rem;
  }
  
  .sign-in-text {
    color: #ffffff;
    text-align: left;
    font-family: "Montserrat-Medium", sans-serif;
    font-size: 0.9375rem;
    font-weight: 500;
    position: relative;
  }
  
  .banners {
    position: absolute;
    inset: 0;
  }
  
  .banner-image {
    background: #d9d9d9;
    border-radius: 2.75rem;
    width: 43.75rem;
    height: 22.6875rem;
    position: absolute;
  }
  
  .banner-image:nth-child(1) {
    left: 14.875rem;
    top: 15.125rem;
  }
  
  .banner-image:nth-child(2) {
    left: 60.125rem;
    top: 15.125rem;
  }
  
  .game-card {
    position: relative;
  }
  
  .game-card-image {
    border-radius: 0.9375rem;
    width: 21.3125rem;
    height: 26.0625rem;
    position: absolute;
    object-fit: cover;
  }
  
  .game-card-image:nth-child(1) {
    left: 37.5rem;
    top: 45.5625rem;
  }
  
  .game-card-image:nth-child(2) {
    left: 82.75rem;
    top: 45.5625rem;
  }
  
  .game-card-image:nth-child(3) {
    left: 14.875rem;
    top: 45.8125rem;
  }
  
  .game-card-image:nth-child(4) {
    left: 60.125rem;
    top: 45.5625rem;
  }
  
  .game-card-info {
    width: 5.1875rem;
    height: 5.4375rem;
    position: static;
  }
  
  .game-card-title {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 1;
  }
